#action{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 350px;
    width: 350px
}

#bbb{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover
}

#morecontent{
    margin-left: 125px;
    margin-right: 100px;
}

#slideshow{
    width:200px;height:200px;
    position:relative;
    overflow:hidden;
}
#visit{
    margin-left: 250px;
    margin-right: 250px;
    text-align: center;
}
